/* stylesheet voor Labs.html */

html {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}
#div {

    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
}
#Div{

    width:  60%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
}

#div3{

    width: 40%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
}

h3 {
    margin: 0;
    box-shadow: 4px 4px 10px rgba(0, 0 , 0 , 0, 0.5)
}